/* select tag{
  property: value;
} */

body{
  background: url(https://media.nationalgeographic.org/assets/photos/000/267/26734.jpg);
  background-repeat: no-repeat;
}

div{
  background-color: blue;
  border-color: orange;
  border-width: 5 px;
  border-style: dotted;
}

p{
  color: yellow;

}

span{
  background: red;
  color: black;
}
